* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

main {
    position: relative;
    width: 1440px;
    height: 960px;
}

.img-hero {
    position: absolute;
    width: 505px;
    height: 330px;
    left: 230px;
    top: 96px;
}

article {
    position: absolute;
    width: 380px;
    height: 250px;
    left: 830px;
    top: 136px;
    font-style: normal;
    left: calc(50% - 380px/2 + 300px);
    color: #121212;
}

h1 {
    margin: 0px;
    height: 50px;
    top: calc(50% - 50px/2 - 319px);
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
}

p {
    margin-top: 24px;
    height: 96px;
    top: calc(50% - 96px/2 - 222px);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

button {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 40px;
    gap: 10px;
    width: 128px;
    height: 48px;
    left: 830px;
    top: 338px;
    background: #E4C1AE;
    border-radius: 32px;
    border: none;
    cursor: pointer;
}

span {
    width: 48px;
    height: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}